In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("nifty50.csv")
data

,Date,ADANIPORTS.NS,TECHM.NS,BRITANNIA.NS,TCS.NS,SUNPHARMA.NS,INFY.NS,HINDALCO.NS,DRREDDY.NS,HCLTECH.NS,...,RELIANCE.NS,SBILIFE.NS,HDFCLIFE.NS,BAJFINANCE.NS,AXISBANK.NS,HDFCBANK.NS,TATAMOTORS.NS,ICICIBANK.NS,POWERGRID.NS,INDUSINDBK.NS
0,01-01-2016,267.549988,520.049988,1493.199951,1208.199951,815.549988,552.625000,84.900002,3108.600098,422.924988,...,507.674988,NaN,NaN,609.585022,449.899994,544.375000,401.899994,239.091003,141.000000,963.849976
1,04-01-2016,257.950012,516.400024,1486.300049,1184.800049,799.099976,539.450012,80.750000,3056.000000,422.975006,...,497.649994,NaN,NaN,605.244995,438.399994,535.250000,377.049988,232.317993,140.949997,934.200012
2,05-01-2016,255.699997,521.900024,1483.349976,1174.469971,800.500000,537.025024,82.599998,3070.649902,421.399994,...,502.575012,NaN,NaN,599.784973,436.450012,531.200012,374.450012,233.363998,139.149994,935.250000
3,06-01-2016,251.800003,525.099976,1500.849976,1190.800049,791.950012,534.674988,80.550003,3046.250000,420.700012,...,516.099976,NaN,NaN,610.724976,430.700012,533.549988,365.899994,227.363998,139.500000,943.950012
4,07-01-2016,245.000000,510.799988,1473.280029,1185.619995,783.799988,525.400024,76.650002,2991.800049,412.524994,...,506.625000,NaN,NaN,610.630005,409.250000,528.099976,343.549988,224.317993,138.100006,925.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.drop("HDFCLIFE.NS",inplace=True,axis=1)
data.drop("SBILIFE.NS",inplace=True,axis=1)
new_data=data.dropna()
new_data

,Date,ADANIPORTS.NS,TECHM.NS,BRITANNIA.NS,TCS.NS,SUNPHARMA.NS,INFY.NS,HINDALCO.NS,DRREDDY.NS,HCLTECH.NS,...,ONGC.NS,SBIN.NS,RELIANCE.NS,BAJFINANCE.NS,AXISBANK.NS,HDFCBANK.NS,TATAMOTORS.NS,ICICIBANK.NS,POWERGRID.NS,INDUSINDBK.NS
0,01-01-2016,267.549988,520.049988,1493.199951,1208.199951,815.549988,552.625000,84.900002,3108.600098,422.924988,...,161.667007,227.800003,507.674988,609.585022,449.899994,544.375000,401.899994,239.091003,141.000000,963.849976
1,04-01-2016,257.950012,516.400024,1486.300049,1184.800049,799.099976,539.450012,80.750000,3056.000000,422.975006,...,158.699997,220.699997,497.649994,605.244995,438.399994,535.250000,377.049988,232.317993,140.949997,934.200012
2,05-01-2016,255.699997,521.900024,1483.349976,1174.469971,800.500000,537.025024,82.599998,3070.649902,421.399994,...,161.233002,217.750000,502.575012,599.784973,436.450012,531.200012,374.450012,233.363998,139.149994,935.250000
3,06-01-2016,251.800003,525.099976,1500.849976,1190.800049,791.950012,534.674988,80.550003,3046.250000,420.700012,...,158.367004,216.850006,516.099976,610.724976,430.700012,533.549988,365.899994,227.363998,139.500000,943.950012
4,07-01-2016,245.000000,510.799988,1473.280029,1185.619995,783.799988,525.400024,76.650002,2991.800049,412.524994,...,151.067001,209.550003,506.625000,610.630005,409.250000,528.099976,343.549988,224.317993,138.100006,925.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,24-12-2020,478.549988,947.250000,3618.250000,2909.350098,590.450012,1236.050049,236.949997,5201.799805,919.349976,...,93.150002,266.850006,1994.150024,5184.899902,610.200012,1397.099976,175.949997,513.549988,190.000000,852.799988
1228,28-12-2020,483.549988,947.099976,3603.550049,2929.399902,586.950012,1240.300049,239.899994,5201.799805,921.799988,...,93.800003,275.200012,2003.300049,5204.100098,617.650024,1412.849976,186.350006,520.099976,191.550003,866.950012
1229,29-12-2020,483.399994,965.650024,3593.300049,2930.500000,590.599976,1250.300049,235.600006,5165.600098,935.900024,...,93.150002,277.899994,1990.050049,5200.500000,630.200012,1427.199951,183.449997,528.799988,189.699997,912.900024
1230,30-12-2020,485.399994,983.250000,3583.899902,2909.300049,584.000000,1246.800049,237.399994,5170.950195,940.700012,...,93.250000,276.899994,1995.500000,5334.149902,625.099976,1432.500000,184.149994,528.750000,190.199997,899.049988
1231,31-12-2020,483.750000,973.200012,3576.350098,2862.750000,592.349976,1255.800049,240.550003,5205.100098,946.150024,...,93.050003,274.950012,1985.300049,5295.200195,620.450012,1436.300049,183.850006,535.049988,189.850006,894.950012

In [4]:
new_data.set_index("Date",inplace=True)
new_data

,ADANIPORTS.NS,TECHM.NS,BRITANNIA.NS,TCS.NS,SUNPHARMA.NS,INFY.NS,HINDALCO.NS,DRREDDY.NS,HCLTECH.NS,HINDUNILVR.NS,...,ONGC.NS,SBIN.NS,RELIANCE.NS,BAJFINANCE.NS,AXISBANK.NS,HDFCBANK.NS,TATAMOTORS.NS,ICICIBANK.NS,POWERGRID.NS,INDUSINDBK.NS
Date,,,,,,,,,,,,,,,,,,,,,
01-01-2016,267.549988,520.049988,1493.199951,1208.199951,815.549988,552.625000,84.900002,3108.600098,422.924988,856.549988,...,161.667007,227.800003,507.674988,609.585022,449.899994,544.375000,401.899994,239.091003,141.000000,963.849976
04-01-2016,257.950012,516.400024,1486.300049,1184.800049,799.099976,539.450012,80.750000,3056.000000,422.975006,859.000000,...,158.699997,220.699997,497.649994,605.244995,438.399994,535.250000,377.049988,232.317993,140.949997,934.200012
05-01-2016,255.699997,521.900024,1483.349976,1174.469971,800.500000,537.025024,82.599998,3070.649902,421.399994,847.950012,...,161.233002,217.750000,502.575012,599.784973,436.450012,531.200012,374.450012,233.363998,139.149994,935.250000
06-01-2016,251.800003,525.099976,1500.849976,1190.800049,791.950012,534.674988,80.550003,3046.250000,420.700012,843.049988,...,158.367004,216.850006,516.099976,610.724976,430.700012,533.549988,365.899994,227.363998,139.500000,943.950012
07-01-2016,245.000000,510.799988,1473.280029,1185.619995,783.799988,525.400024,76.650002,2991.800049,412.524994,820.250000,...,151.067001,209.550003,506.625000,610.630005,409.250000,528.099976,343.549988,224.317993,138.100006,925.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24-12-2020,478.549988,947.250000,3618.250000,2909.350098,590.450012,1236.050049,236.949997,5201.799805,919.349976,2402.250000,...,93.150002,266.850006,1994.150024,5184.899902,610.200012,1397.099976,175.949997,513.549988,190.000000,852.799988
28-12-2020,483.549988,947.099976,3603.550049,2929.399902,586.950012,1240.300049,239.899994,5201.799805,921.799988,2388.899902,...,93.800003,275.200012,2003.300049,5204.100098,617.650024,1412.849976,186.350006,520.099976,191.550003,866.950012
29-12-2020,483.399994,965.650024,3593.300049,2930.500000,590.599976,1250.300049,235.600006,5165.600098,935.900024,2384.300049,...,93.150002,277.899994,1990.050049,5200.500000,630.200012,1427.199951,183.449997,528.799988,189.699997,912.900024
30-12-2020,485.399994,983.250000,3583.899902,2909.300049,584.000000,1246.800049,237.399994,5170.950195,940.700012,2406.600098,...,93.250000,276.899994,1995.500000,5334.149902,625.099976,1432.500000,184.149994,528.750000,190.199997,899.049988
31-12-2020,483.750000,973.200012,3576.350098,2862.750000,592.349976,1255.800049,240.550003,5205.100098,946.150024,2395.399902,...,93.050003,274.950012,1985.300049,5295.200195,620.450012,1436.300049,183.850006,535.049988,189.850006,894.950012

In [5]:
name=list(new_data)
name

['ADANIPORTS.NS',
 'TECHM.NS',
 'BRITANNIA.NS',
 'TCS.NS',
 'SUNPHARMA.NS',
 'INFY.NS',
 'HINDALCO.NS',
 'DRREDDY.NS',
 'HCLTECH.NS',
 'HINDUNILVR.NS',
 'TATASTEEL.NS',
 'NTPC.NS',
 'CIPLA.NS',
 'ITC.NS',
 'BPCL.NS',
 'WIPRO.NS',
 'JSWSTEEL.NS',
 'GAIL.NS',
 'DIVISLAB.NS',
 'ULTRACEMCO.NS',
 'NESTLEIND.NS',
 'ASIANPAINT.NS',
 'EICHERMOT.NS',
 'IOC.NS',
 'GRASIM.NS',
 'BAJAJ-AUTO.NS',
 'HDFC.NS',
 'M&M.NS',
 'UPL.NS',
 'SHREECEM.NS',
 'MARUTI.NS',
 'TITAN.NS',
 'BAJAJFINSV.NS',
 'KOTAKBANK.NS',
 'COALINDIA.NS',
 'BHARTIARTL.NS',
 'HEROMOTOCO.NS',
 'LT.NS',
 'ONGC.NS',
 'SBIN.NS',
 'RELIANCE.NS',
 'BAJFINANCE.NS',
 'AXISBANK.NS',
 'HDFCBANK.NS',
 'TATAMOTORS.NS',
 'ICICIBANK.NS',
 'POWERGRID.NS',
 'INDUSINDBK.NS']

In [6]:
def CAGR(new_data,name):
    initial_price = new_data[name].iloc[0]
    final_price= new_data[name].iloc[-1]
    no_of_year=4
    cagr =pow((final_price/initial_price),0.25)- 1
    
    return cagr

In [7]:
def Volatility(new_data,name):
    new_data[name]=new_data[name].pct_change()
    vol=data[name].std()*np.sqrt(252)
    return vol

In [8]:
def sharpe(x,y,rf):
    
    Sharpe_Ratio = (x-rf) / y
    
    
    return Sharpe_Ratio

In [9]:
cagr = []
vol = []
Sharpe_Ratio= []
rf = 0.06
for i in range(len(name)):
    x = CAGR(new_data, name[i])
    y = Volatility(new_data, name[i])
    z = sharpe(x,y,rf)
    cagr.append(x)
    vol.append(y)
    Sharpe_Ratio.append(z)
print(cagr)
print(vol)
print(Sharpe_Ratio)

[0.1595887962668434, 0.1696051012367188, 0.24402902974227136, 0.24068391668627775, -0.07682943788109364, 0.2277854769024268, 0.29740156418103036, 0.13753837706555117, 0.22299354511598457, 0.29317210700872853, 0.2728208472308853, -0.046940498147527876, 0.05761724176335692, -0.010862357462357197, 0.06281361121341744, 0.1664137648998545, 0.3934494964346509, 0.04339019838923264, 0.3483053909449978, 0.16979501490466875, 0.3352665031815807, 0.33179633085462634, 0.0986612066315169, -0.042736429198045545, 0.12285695355972348, 0.08144249747719567, 0.19410833397733285, 0.03306677553945603, 0.12266761031073603, 0.2051567928616589, 0.1332227712291405, 0.45253484666152954, 0.4556281998017342, 0.2870559896204057, -0.20202022387194152, 0.12997157939720916, 0.03731718331697076, 0.10633828366227815, -0.1289887826478201, 0.04815377884776484, 0.40624210286333384, 0.7167696387431843, 0.08367162661509076, 0.27449093470820096, -0.17759373086733032, 0.2230882132881351, 0.0772037973007087, -0.018371103420910306]
[1025.1054924775383, 2272.189521351004, 12032.119035359796, 7519.418572089168, 2095.101331837158, 2649.1265913090956, 773.7965871168865, 11723.045906826637, 1822.1319727203809, 7849.38401698773, 1954.2714584938935, 284.02475275049966, 1290.9592006003948, 618.5638079705269, 1080.1605965284098, 687.7345000952616, 1122.2581470838168, 511.3455339732515, 11335.705441561558, 7412.120312170436, 62641.810800142805, 5781.101783681977, 7457.524166114512, 649.9408552862986, 3033.8272266184235, 4067.132197860985, 5573.91676994865, 1897.832185282016, 1422.5923036084998, 48860.64725769634, 24586.533078979537, 5216.376944653421, 33607.684381230865, 5104.854729002495, 1002.639918294726, 1326.2307087670604, 8034.175120646106, 3359.2609477601313, 603.5948910164573, 783.4022935334124, 7553.872470414487, 18613.203920400232, 1757.9141449155688, 3772.1652638249375, 2300.178107551715, 1423.5033324774404, 320.066196097496, 6694.410143576655]
[9.714980262777742e-05, 4.823765808564663e-05, 1.5294814587642446e-05, 2.4028974441846665e-05, -6.530922194637253e-05, 6.33361491492612e-05, 0.00030680099671358393, 6.614183522082647e-06, 8.945210750714218e-05, 2.9705784110459455e-05, 0.00010890035071939331, -0.00037651823340013364, -1.8457269877583381e-06, -0.00011455949499349567, 2.6048082317206077e-06, 0.0001547308807179436, 0.0002971237030456121, -3.248253970599109e-05, 2.5433387664427708e-05, 1.4812902419350814e-05, 4.394293518426724e-06, 4.701462472461773e-05, 5.1841879114767925e-06, -0.00015807042804347204, 2.0718699142859678e-05, 5.272141753462764e-06, 2.4059981430000495e-05, -1.41915732431009e-05, 4.405170065364158e-05, 2.970832377559107e-06, 2.978165770421e-06, 7.525047572795945e-05, 1.1771956535710732e-05, 4.447844290855523e-05, -0.0002613303331445065, 5.275973398494047e-05, -2.823291295299161e-06, 1.3794189967044784e-05, -0.0003131053384656088, -1.5121504302476125e-05, 4.583637124129728e-05, 3.5285147122004024e-05, 1.346574671098496e-05, 5.6861489279159875e-05, -0.00010329362325781916, 0.00011456819915152515, 5.375074753432636e-05, -1.1706946801893825e-05]

C:\Users\Hp\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
data_tuple=list(zip(name,Sharpe_Ratio))
from heapq import nlargest
from operator import itemgetter
TOP_15_STOCKS=nlargest(15, data_tuple, key=itemgetter(1))
print(pd.DataFrame(TOP_15_STOCKS, columns=['Company Name', 'Sharpe Ratio']))

          company  Sharpe Ratio
0     HINDALCO.NS      0.000307
1     JSWSTEEL.NS      0.000297
2        WIPRO.NS      0.000155
3    ICICIBANK.NS      0.000115
4    TATASTEEL.NS      0.000109
5   ADANIPORTS.NS      0.000097
6      HCLTECH.NS      0.000089
7        TITAN.NS      0.000075
8         INFY.NS      0.000063
9     HDFCBANK.NS      0.000057
10   POWERGRID.NS      0.000054
11  BHARTIARTL.NS      0.000053
12       TECHM.NS      0.000048
13  ASIANPAINT.NS      0.000047
14    RELIANCE.NS      0.000046